/* Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* Noto Serif */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
/* Domine */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



/* -=-=-= Global Definitions=-=-=- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Domine", serif;
}

title {
    display: none;
}

:root {
    --theme-light-1: #8fe1c4;
    --theme-light-2: #ffffff;
    --theme-light-3: goldenrod;

    --vertical-margin: 3rem;
    --content-width: min(1200px, 85%);
}

body {
    background-color: var(--theme-light-1);
}

footer {
    margin-top: var(--vertical-margin);
    background-color: var(--theme-light-2);
}

footer > p {
    margin-inline: auto;
    padding: 2rem 0rem 1.5rem;
    text-align: center;
}